<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>登录名</string>
			<key>placeholder</key>
			<string>请输入登录名</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>密码</string>
			<key>placeholder</key>
			<string>请输入密码</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>重复密码</string>
			<key>placeholder</key>
			<string>请再次输入密码</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>公司名称</string>
			<key>placeholder</key>
			<string>请输入公司名称</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>法人</string>
			<key>placeholder</key>
			<string>请输入法人姓名</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>证件类型</string>
			<key>placeholder</key>
			<string></string>
			<key>cellType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>统一社会信用代码</string>
			<key>placeholder</key>
			<string>请输入统一社会信用代码</string>
			<key>cellType</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>公司地址</string>
			<key>placeholder</key>
			<string>请输入公司地址</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>公司电话</string>
			<key>placeholder</key>
			<string>请输入公司电话</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>联系人</string>
			<key>placeholder</key>
			<string>请输入联系人</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>联系电话</string>
			<key>placeholder</key>
			<string>请输入联系电话</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
		<dict>
			<key>title</key>
			<string>联系邮箱</string>
			<key>placeholder</key>
			<string>请输入联系邮箱</string>
			<key>cellType</key>
			<real>0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>三证合一照片</string>
			<key>placeholder</key>
			<string></string>
			<key>cellType</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
